
<div style="padding:30px;">
    <div class="container">
        <div class="search-bar">
            <form>
                <div class="form-group">
                    <label class="sr-only" for="searchLabel">Search</label>

                    <div class="input-group">
                        <div class="input-group-addon btn btn-default"><i class="fa fa-search"></i></div>
                        <input ng-model="search" type="text" class="form-control" id="searchLabel" placeholder="Search...">
                    </div>
                </div>
                <button type="submit" class="btn"><i class="fa fa-cloud-download" aria-hidden="true"></i>
</button>
            </form>
        </div>
    </div>
</div>
