
<div style="padding:30px;">
    <div class="container">
        <div class="search-bar">
            <form action="{% url 'fsdb-file-list' %}" method="get">
                <div class="form-group">

                    <div class="input-group">
                        <div class="input-group-addon btn btn-default"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" name="q" id="" placeholder="Search...">
                         <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-cloud-download" aria-hidden="true"></i> CSV</button>
      </span>

                    </div>
                </div>

</button>
            </form>
        </div>
    </div>
</div>
