{% extends "base.html" %}

{% block navbar %}{% include 'fsdb/snippets/navbar.html' %}{% endblock %}
{% block content %}


<div class="container">


    <div class="row">
        <div class="col-sm-2" style="padding-top:50px;">

        </div>
        <div class="col-sm-8">
            <div class="page-header">
                <h1>{{ object.name }}</h1>
                <h2><small style="font-size: 14px;">{{ object.path }}</small></h2>
            </div>
            <p>{{ object.description }}</p>


            {% if object.system %}
            <i class="fa {{ object.system.icon }} fa-2x" aria-hidden="true"></i>&nbsp;
            {% endif %}

            {% for app in object.applications.all %}
            <i class="fa {{ app.icon }} fa-2x" aria-hidden="true"></i>&nbsp;
            {% endfor %}

        </div>
        <div class="col-sm-2"></div>
    </div>


</div>

{% endblock %}

{% block disqus %}
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">}</div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endblock %}
