{% extends "base.html" %}

{% block navbar %}{% include 'snippets/navbar.html' %}{% endblock %}


{% block lsidebar %}
    <div class="sidebar-module">
        <h4>Systems</h4>
        <ol class="list-unstyled">
            {% for obj in systems.all %}
                <li><span class="badge">{{ obj.count }}</span>&nbsp;{{ obj.name }}</li>
            {% endfor %}
        </ol>
    </div>
    <hr>
    <div class="sidebar-module">
        <h4>Applications</h4>
        <ol class="list-unstyled">
            {% for obj in applications.all %}
                <li><span class="badge">{{ obj.count }}</span>&nbsp;{{ obj.name }}</li>
            {% endfor %}
        </ol>
    </div>
    <hr>
    <div class="sidebar-module">
        <h4>Categories</h4>
        <ol class="list-unstyled">
            {% for obj in categories.all %}
                <li><span class="badge">{{ obj.count }}</span>&nbsp;{{ obj.name }}</li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
{% block rsidebar %}{% endblock %}

{% block content %}
    <style>
        .progress {
            height: 5px;
            margin-bottom: 0px;
            overflow: hidden;
            background-color: #F5F5F5;
            border-radius: 4px;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
        }
    </style>

    {% include 'fsdb/snippets/search.html' %}
    <div class="list-group">
        {% for obj in object_list %}
            <div class="media">
                <div class="media-left media-middle">

                </div>
                <div class="media-body">
                    <h4 class="media-heading"><i class="fa {{ obj.icon }}" aria-hidden="true"></i>&nbsp;
                        {% for sys in obj.systems.all %}
                            <i class="fa {{ sys.icon }}" aria-hidden="true"></i>&nbsp;
                        {% endfor %}
                        <a href="{% url 'fsdb-file-detail' obj.path %}">{{ obj.name }}</a>
                        {% for app in obj.applications.all %}
                            <i class="fa {{ app.icon }} pull-right" aria-hidden="true"></i>&nbsp;
                        {% endfor %}

                    </h4>

                    <p class="text-muted" style="margin-bottom: 2px;">{{ obj.path }}</p>
                    {{ obj.description }}


                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
                                aria-valuemin="0" aria-valuemax="100" style="width: {{ obj.rank }}%">
                            <span class="sr-only">45% Complete</span>
                        </div>
                    </div>


                </div>
            </div>


        {% endfor %}
    </div>

    {% include 'snippets/pagination.html' %}
{% endblock %}